@page
@model RecursosHumanos.Pages.CDocumentos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Documentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Documentos.Id" />
            <div class="form-group">
                <label asp-for="Documentos.Cedula_E" class="control-label"></label>
                <input asp-for="Documentos.Cedula_E" class="form-control" readonly/>
                <span asp-validation-for="Documentos.Cedula_E" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" class="form-control" name="cedula" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" class="form-control" name="certificado" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <input type="file" class="form-control" name="otro" />
                <span class="text-danger"></span>
            </div>
            @if (TempData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["Mensaje"]
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
